/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
.main {
    margin-top: 6%;
    padding-bottom: 6%;
}
.profile_image{
    border-radius: 10%;
    width: 40px;
}
.post-head-image {
    border-radius: 50%;
    width: 36px;
}
.comment-image {
    border-radius: 50%;
    width: 28px;
}
.medium-profile-image {
    border-radius: 50%;
    width: 300px;
    margin: auto;
}
.post-container{
    width:45%;
    margin: auto;
}
.post-picture {
    max-width:100%;
    display: block
}

.comment-container{
    display: inline;
    max-width: 77%;
    margin: 10px;
}
.comment-picture {
    border-radius: 50%;
    width: 48px;
}
.login-container {
    margin: auto;
    width: 50%;
}
.comment {
    font-size: 95%;
    padding: 8px 10px 8px 10px;
    font-size: 80%;
    max-width: 75%;
    white-space: initial;
}
.comment-time-ago {
    font-style: italic;
    font-size: 10px;
   
}
.comment-content {
    word-wrap: break-word;
}
.center-content {
    display: block;
    text-align: center;
    margin-right:auto;
    margin-left:auto;
}

.alert-alert{
    background-color: #FF4136;
    border-color: #ff291d;
}
.alert-notice {
    background-color: #28B62C;
    border-color: #23a127;
}
.alert-container{
    margin-top: 7%;
}
